.Main-Side {
  height: 70px;
  z-index: 3;
  overflow: scroll;
}

.Main-Side::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-height: 902px) {
  body {
    margin-bottom: 5%;
  }
  .Main-Side {
  }

  .SiderHeader-Icon {
    margin-left: 5%;
  }
}
