.SiderHeader-container {
  color: white;
  margin-top: 1%;
}

.SiderHeader-Pop {
  font-size: 1vw;
  font-weight: bold;
  margin-left: 5%;
}

.SiderHeader-bottom {
  font-size: 0.7vw;
  margin-left: 5%;
}
.SiderHeader-Icon-down {
  font-size: 0.7vw;
  margin-left: 1%;
}
.SiderHeader-Icon {
  font-size: 0.7vw;
  margin-left: 50%;
}
