.ant-comment-actions {
  height: 0;
  margin: 0;
}

.ant-comment-content-author {
  margin: 0;
}

.ant-comment-content-author-time {
  color: rgba(124, 122, 120, 0.849);
}

.ant-comment-content-detail {
  font-size: 15px;
}
